
/*!40101 SET @OLD_CHARACTER_SET_CLIENT=@@CHARACTER_SET_CLIENT */;
/*!40101 SET @OLD_CHARACTER_SET_RESULTS=@@CHARACTER_SET_RESULTS */;
/*!40101 SET @OLD_COLLATION_CONNECTION=@@COLLATION_CONNECTION */;
/*!50503 SET NAMES utf8mb4 */;
/*!40103 SET @OLD_TIME_ZONE=@@TIME_ZONE */;
/*!40103 SET TIME_ZONE='+00:00' */;
/*!40014 SET @OLD_UNIQUE_CHECKS=@@UNIQUE_CHECKS, UNIQUE_CHECKS=0 */;
/*!40014 SET @OLD_FOREIGN_KEY_CHECKS=@@FOREIGN_KEY_CHECKS, FOREIGN_KEY_CHECKS=0 */;
/*!40101 SET @OLD_SQL_MODE=@@SQL_MODE, SQL_MODE='NO_AUTO_VALUE_ON_ZERO' */;
/*!40111 SET @OLD_SQL_NOTES=@@SQL_NOTES, SQL_NOTES=0 */;
SET @MYSQLDUMP_TEMP_LOG_BIN = @@SESSION.SQL_LOG_BIN;
SET @@SESSION.SQL_LOG_BIN= 0;
SET @@GLOBAL.GTID_PURGED=/*!80000 '+'*/ 'ac934670-cb1c-11f0-982a-0a0027000004:1-143472';
DROP TABLE IF EXISTS `asset_handovers`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `asset_handovers` (
  `id` bigint unsigned NOT NULL AUTO_INCREMENT,
  `ict_request_id` bigint unsigned NOT NULL,
  `ict_request_item_id` bigint unsigned NOT NULL,
  `asset_id` bigint unsigned DEFAULT NULL,
  `handover_type` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL,
  `description` text COLLATE utf8mb4_unicode_ci,
  `serah_terima_path` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `serah_terima_name` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `serah_terima_size` bigint unsigned DEFAULT NULL,
  `serah_terima_mime` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `surat_jalan_path` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `surat_jalan_name` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `surat_jalan_size` bigint unsigned DEFAULT NULL,
  `surat_jalan_mime` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `dept` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `model_specification` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `serial_number` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `asset_number` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `recipient_name` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `recipient_position` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `supervisor_name` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `supervisor_position` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `witness_name` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `witness_position` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `deliverer_name` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `deliverer_position` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `handover_report_path` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `handover_report_name` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `handover_report_generated_at` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `created_by` bigint unsigned NOT NULL,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `asset_handovers_ict_request_item_id_foreign` (`ict_request_item_id`),
  KEY `asset_handovers_asset_id_foreign` (`asset_id`),
  KEY `asset_handovers_created_by_foreign` (`created_by`),
  KEY `asset_handovers_ict_request_id_handover_type_index` (`ict_request_id`,`handover_type`),
  KEY `asset_handovers_handover_type_index` (`handover_type`),
  CONSTRAINT `asset_handovers_asset_id_foreign` FOREIGN KEY (`asset_id`) REFERENCES `assets` (`id`) ON DELETE SET NULL,
  CONSTRAINT `asset_handovers_created_by_foreign` FOREIGN KEY (`created_by`) REFERENCES `users` (`id`) ON DELETE CASCADE,
  CONSTRAINT `asset_handovers_ict_request_id_foreign` FOREIGN KEY (`ict_request_id`) REFERENCES `ict_requests` (`id`) ON DELETE CASCADE,
  CONSTRAINT `asset_handovers_ict_request_item_id_foreign` FOREIGN KEY (`ict_request_item_id`) REFERENCES `ict_request_items` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

LOCK TABLES `asset_handovers` WRITE;
/*!40000 ALTER TABLE `asset_handovers` DISABLE KEYS */;
/*!40000 ALTER TABLE `asset_handovers` ENABLE KEYS */;
UNLOCK TABLES;
DROP TABLE IF EXISTS `asset_lifecycle_logs`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `asset_lifecycle_logs` (
  `id` bigint unsigned NOT NULL AUTO_INCREMENT,
  `asset_id` bigint unsigned NOT NULL,
  `processed_by` bigint unsigned NOT NULL,
  `from_unit_id` bigint unsigned DEFAULT NULL,
  `to_unit_id` bigint unsigned DEFAULT NULL,
  `action_type` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL,
  `previous_status` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `next_status` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `notes` text COLLATE utf8mb4_unicode_ci,
  `processed_at` timestamp NOT NULL,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `asset_lifecycle_logs_asset_id_foreign` (`asset_id`),
  KEY `asset_lifecycle_logs_processed_by_foreign` (`processed_by`),
  KEY `asset_lifecycle_logs_from_unit_id_foreign` (`from_unit_id`),
  KEY `asset_lifecycle_logs_to_unit_id_foreign` (`to_unit_id`),
  KEY `asset_lifecycle_logs_action_type_index` (`action_type`),
  CONSTRAINT `asset_lifecycle_logs_asset_id_foreign` FOREIGN KEY (`asset_id`) REFERENCES `assets` (`id`) ON DELETE CASCADE,
  CONSTRAINT `asset_lifecycle_logs_from_unit_id_foreign` FOREIGN KEY (`from_unit_id`) REFERENCES `units` (`id`) ON DELETE SET NULL,
  CONSTRAINT `asset_lifecycle_logs_processed_by_foreign` FOREIGN KEY (`processed_by`) REFERENCES `users` (`id`) ON DELETE CASCADE,
  CONSTRAINT `asset_lifecycle_logs_to_unit_id_foreign` FOREIGN KEY (`to_unit_id`) REFERENCES `units` (`id`) ON DELETE SET NULL
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

LOCK TABLES `asset_lifecycle_logs` WRITE;
/*!40000 ALTER TABLE `asset_lifecycle_logs` DISABLE KEYS */;
/*!40000 ALTER TABLE `asset_lifecycle_logs` ENABLE KEYS */;
UNLOCK TABLES;
DROP TABLE IF EXISTS `assets`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `assets` (
  `id` bigint unsigned NOT NULL AUTO_INCREMENT,
  `unit_id` bigint unsigned NOT NULL,
  `assigned_user_id` bigint unsigned DEFAULT NULL,
  `uuid` char(36) COLLATE utf8mb4_unicode_ci NOT NULL,
  `asset_number` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `category` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL,
  `name` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL,
  `brand` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `model` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `serial_number` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `vendor` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `specification` json DEFAULT NULL,
  `location` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `purchase_date` date DEFAULT NULL,
  `warranty_until` date DEFAULT NULL,
  `condition_status` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL DEFAULT 'good',
  `lifecycle_status` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL DEFAULT 'active',
  `notes` text COLLATE utf8mb4_unicode_ci,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `assets_uuid_unique` (`uuid`),
  UNIQUE KEY `assets_asset_number_unique` (`asset_number`),
  KEY `assets_assigned_user_id_foreign` (`assigned_user_id`),
  KEY `assets_unit_id_category_index` (`unit_id`,`category`),
  KEY `assets_unit_id_lifecycle_status_index` (`unit_id`,`lifecycle_status`),
  KEY `assets_category_index` (`category`),
  KEY `assets_serial_number_index` (`serial_number`),
  KEY `assets_location_index` (`location`),
  KEY `assets_condition_status_index` (`condition_status`),
  KEY `assets_lifecycle_status_index` (`lifecycle_status`),
  CONSTRAINT `assets_assigned_user_id_foreign` FOREIGN KEY (`assigned_user_id`) REFERENCES `users` (`id`) ON DELETE SET NULL,
  CONSTRAINT `assets_unit_id_foreign` FOREIGN KEY (`unit_id`) REFERENCES `units` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

LOCK TABLES `assets` WRITE;
/*!40000 ALTER TABLE `assets` DISABLE KEYS */;
/*!40000 ALTER TABLE `assets` ENABLE KEYS */;
UNLOCK TABLES;
DROP TABLE IF EXISTS `cache`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `cache` (
  `key` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL,
  `value` mediumtext COLLATE utf8mb4_unicode_ci NOT NULL,
  `expiration` bigint NOT NULL,
  PRIMARY KEY (`key`),
  KEY `cache_expiration_index` (`expiration`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

LOCK TABLES `cache` WRITE;
/*!40000 ALTER TABLE `cache` DISABLE KEYS */;
/*!40000 ALTER TABLE `cache` ENABLE KEYS */;
UNLOCK TABLES;
DROP TABLE IF EXISTS `cache_locks`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `cache_locks` (
  `key` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL,
  `owner` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL,
  `expiration` bigint NOT NULL,
  PRIMARY KEY (`key`),
  KEY `cache_locks_expiration_index` (`expiration`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

LOCK TABLES `cache_locks` WRITE;
/*!40000 ALTER TABLE `cache_locks` DISABLE KEYS */;
/*!40000 ALTER TABLE `cache_locks` ENABLE KEYS */;
UNLOCK TABLES;
DROP TABLE IF EXISTS `cctv_maintenance_logs`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `cctv_maintenance_logs` (
  `id` bigint unsigned NOT NULL AUTO_INCREMENT,
  `incident_report_id` bigint unsigned NOT NULL,
  `handled_by_id` bigint unsigned NOT NULL,
  `activity_type` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL,
  `description` text COLLATE utf8mb4_unicode_ci NOT NULL,
  `status_after` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL DEFAULT 'on_progress',
  `performed_at` timestamp NOT NULL,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `cctv_maintenance_logs_incident_report_id_foreign` (`incident_report_id`),
  KEY `cctv_maintenance_logs_handled_by_id_foreign` (`handled_by_id`),
  KEY `cctv_maintenance_logs_activity_type_index` (`activity_type`),
  KEY `cctv_maintenance_logs_status_after_index` (`status_after`),
  CONSTRAINT `cctv_maintenance_logs_handled_by_id_foreign` FOREIGN KEY (`handled_by_id`) REFERENCES `users` (`id`) ON DELETE CASCADE,
  CONSTRAINT `cctv_maintenance_logs_incident_report_id_foreign` FOREIGN KEY (`incident_report_id`) REFERENCES `incident_reports` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

LOCK TABLES `cctv_maintenance_logs` WRITE;
/*!40000 ALTER TABLE `cctv_maintenance_logs` DISABLE KEYS */;
/*!40000 ALTER TABLE `cctv_maintenance_logs` ENABLE KEYS */;
UNLOCK TABLES;
DROP TABLE IF EXISTS `email_requests`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `email_requests` (
  `id` bigint unsigned NOT NULL AUTO_INCREMENT,
  `unit_id` bigint unsigned NOT NULL,
  `requester_id` bigint unsigned NOT NULL,
  `employee_name` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL,
  `department_name` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL,
  `job_title` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `requested_email` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL,
  `access_level` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL DEFAULT 'internal',
  `justification` text COLLATE utf8mb4_unicode_ci NOT NULL,
  `status` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL DEFAULT 'submitted',
  `manager_approved_by` bigint unsigned DEFAULT NULL,
  `hrga_verified_by` bigint unsigned DEFAULT NULL,
  `ict_processed_by` bigint unsigned DEFAULT NULL,
  `manager_approved_at` timestamp NULL DEFAULT NULL,
  `hrga_verified_at` timestamp NULL DEFAULT NULL,
  `ict_processed_at` timestamp NULL DEFAULT NULL,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `email_requests_requested_email_unique` (`requested_email`),
  KEY `email_requests_requester_id_foreign` (`requester_id`),
  KEY `email_requests_manager_approved_by_foreign` (`manager_approved_by`),
  KEY `email_requests_hrga_verified_by_foreign` (`hrga_verified_by`),
  KEY `email_requests_ict_processed_by_foreign` (`ict_processed_by`),
  KEY `email_requests_unit_id_status_index` (`unit_id`,`status`),
  KEY `email_requests_access_level_index` (`access_level`),
  KEY `email_requests_status_index` (`status`),
  CONSTRAINT `email_requests_hrga_verified_by_foreign` FOREIGN KEY (`hrga_verified_by`) REFERENCES `users` (`id`) ON DELETE SET NULL,
  CONSTRAINT `email_requests_ict_processed_by_foreign` FOREIGN KEY (`ict_processed_by`) REFERENCES `users` (`id`) ON DELETE SET NULL,
  CONSTRAINT `email_requests_manager_approved_by_foreign` FOREIGN KEY (`manager_approved_by`) REFERENCES `users` (`id`) ON DELETE SET NULL,
  CONSTRAINT `email_requests_requester_id_foreign` FOREIGN KEY (`requester_id`) REFERENCES `users` (`id`) ON DELETE CASCADE,
  CONSTRAINT `email_requests_unit_id_foreign` FOREIGN KEY (`unit_id`) REFERENCES `units` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

LOCK TABLES `email_requests` WRITE;
/*!40000 ALTER TABLE `email_requests` DISABLE KEYS */;
/*!40000 ALTER TABLE `email_requests` ENABLE KEYS */;
UNLOCK TABLES;
DROP TABLE IF EXISTS `failed_jobs`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `failed_jobs` (
  `id` bigint unsigned NOT NULL AUTO_INCREMENT,
  `uuid` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL,
  `connection` text COLLATE utf8mb4_unicode_ci NOT NULL,
  `queue` text COLLATE utf8mb4_unicode_ci NOT NULL,
  `payload` longtext COLLATE utf8mb4_unicode_ci NOT NULL,
  `exception` longtext COLLATE utf8mb4_unicode_ci NOT NULL,
  `failed_at` timestamp NOT NULL DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (`id`),
  UNIQUE KEY `failed_jobs_uuid_unique` (`uuid`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

LOCK TABLES `failed_jobs` WRITE;
/*!40000 ALTER TABLE `failed_jobs` DISABLE KEYS */;
/*!40000 ALTER TABLE `failed_jobs` ENABLE KEYS */;
UNLOCK TABLES;
DROP TABLE IF EXISTS `ict_request_items`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `ict_request_items` (
  `id` bigint unsigned NOT NULL AUTO_INCREMENT,
  `ict_request_id` bigint unsigned NOT NULL,
  `line_number` int unsigned NOT NULL DEFAULT '1',
  `item_name` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL,
  `item_category` varchar(100) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `brand_type` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `unit` varchar(50) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `quantity` int unsigned NOT NULL DEFAULT '1',
  `takeout_qty` int unsigned DEFAULT NULL,
  `estimated_price` decimal(15,2) DEFAULT NULL,
  `notes` text COLLATE utf8mb4_unicode_ci,
  `photo_name` varchar(15) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `photo_path` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `photo_size` int unsigned DEFAULT NULL,
  `ppnk_document_id` bigint unsigned DEFAULT NULL,
  `ppnk_uploaded_at` datetime DEFAULT NULL,
  `ppnk_number` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `ppm_document_id` bigint unsigned DEFAULT NULL,
  `ppm_uploaded_at` datetime DEFAULT NULL,
  `ppm_name` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `ppm_number` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `pr_number` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `po_document_id` bigint unsigned DEFAULT NULL,
  `po_uploaded_at` datetime DEFAULT NULL,
  `po_number` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `audit_status` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `audit_reason` text COLLATE utf8mb4_unicode_ci,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `ict_request_items_ict_request_id_foreign` (`ict_request_id`),
  KEY `ict_request_items_ppnk_document_id_foreign` (`ppnk_document_id`),
  KEY `ict_request_items_ppm_document_id_foreign` (`ppm_document_id`),
  KEY `ict_request_items_po_document_id_foreign` (`po_document_id`),
  KEY `ict_request_items_takeout_qty_index` (`takeout_qty`),
  CONSTRAINT `ict_request_items_ict_request_id_foreign` FOREIGN KEY (`ict_request_id`) REFERENCES `ict_requests` (`id`) ON DELETE CASCADE,
  CONSTRAINT `ict_request_items_po_document_id_foreign` FOREIGN KEY (`po_document_id`) REFERENCES `ict_request_po_documents` (`id`) ON DELETE SET NULL,
  CONSTRAINT `ict_request_items_ppm_document_id_foreign` FOREIGN KEY (`ppm_document_id`) REFERENCES `ict_request_ppm_documents` (`id`) ON DELETE SET NULL,
  CONSTRAINT `ict_request_items_ppnk_document_id_foreign` FOREIGN KEY (`ppnk_document_id`) REFERENCES `ict_request_ppnk_documents` (`id`) ON DELETE SET NULL
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

LOCK TABLES `ict_request_items` WRITE;
/*!40000 ALTER TABLE `ict_request_items` DISABLE KEYS */;
/*!40000 ALTER TABLE `ict_request_items` ENABLE KEYS */;
UNLOCK TABLES;
DROP TABLE IF EXISTS `ict_request_po_documents`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `ict_request_po_documents` (
  `id` bigint unsigned NOT NULL AUTO_INCREMENT,
  `ict_request_id` bigint unsigned NOT NULL,
  `po_number` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `attachment_name` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `attachment_path` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `attachment_size` bigint unsigned DEFAULT NULL,
  `attachment_mime` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `uploaded_by` bigint unsigned DEFAULT NULL,
  `uploaded_at` timestamp NULL DEFAULT NULL,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `ict_request_po_documents_ict_request_id_foreign` (`ict_request_id`),
  KEY `ict_request_po_documents_uploaded_by_foreign` (`uploaded_by`),
  CONSTRAINT `ict_request_po_documents_ict_request_id_foreign` FOREIGN KEY (`ict_request_id`) REFERENCES `ict_requests` (`id`) ON DELETE CASCADE,
  CONSTRAINT `ict_request_po_documents_uploaded_by_foreign` FOREIGN KEY (`uploaded_by`) REFERENCES `users` (`id`) ON DELETE SET NULL
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

LOCK TABLES `ict_request_po_documents` WRITE;
/*!40000 ALTER TABLE `ict_request_po_documents` DISABLE KEYS */;
/*!40000 ALTER TABLE `ict_request_po_documents` ENABLE KEYS */;
UNLOCK TABLES;
DROP TABLE IF EXISTS `ict_request_ppm_documents`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `ict_request_ppm_documents` (
  `id` bigint unsigned NOT NULL AUTO_INCREMENT,
  `ict_request_id` bigint unsigned NOT NULL,
  `ppm_number` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `attachment_name` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `attachment_path` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `attachment_size` bigint unsigned DEFAULT NULL,
  `attachment_mime` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `uploaded_by` bigint unsigned DEFAULT NULL,
  `uploaded_at` timestamp NULL DEFAULT NULL,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `ict_request_ppm_documents_ict_request_id_foreign` (`ict_request_id`),
  KEY `ict_request_ppm_documents_uploaded_by_foreign` (`uploaded_by`),
  CONSTRAINT `ict_request_ppm_documents_ict_request_id_foreign` FOREIGN KEY (`ict_request_id`) REFERENCES `ict_requests` (`id`) ON DELETE CASCADE,
  CONSTRAINT `ict_request_ppm_documents_uploaded_by_foreign` FOREIGN KEY (`uploaded_by`) REFERENCES `users` (`id`) ON DELETE SET NULL
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

LOCK TABLES `ict_request_ppm_documents` WRITE;
/*!40000 ALTER TABLE `ict_request_ppm_documents` DISABLE KEYS */;
/*!40000 ALTER TABLE `ict_request_ppm_documents` ENABLE KEYS */;
UNLOCK TABLES;
DROP TABLE IF EXISTS `ict_request_ppnk_documents`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `ict_request_ppnk_documents` (
  `id` bigint unsigned NOT NULL AUTO_INCREMENT,
  `ict_request_id` bigint unsigned NOT NULL,
  `ppnk_number` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL,
  `attachment_name` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL,
  `attachment_path` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL,
  `attachment_size` bigint unsigned DEFAULT NULL,
  `attachment_mime` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `uploaded_by` bigint unsigned DEFAULT NULL,
  `uploaded_at` timestamp NULL DEFAULT NULL,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `ict_request_ppnk_documents_ict_request_id_ppnk_number_unique` (`ict_request_id`,`ppnk_number`),
  KEY `ict_request_ppnk_documents_uploaded_by_foreign` (`uploaded_by`),
  CONSTRAINT `ict_request_ppnk_documents_ict_request_id_foreign` FOREIGN KEY (`ict_request_id`) REFERENCES `ict_requests` (`id`) ON DELETE CASCADE,
  CONSTRAINT `ict_request_ppnk_documents_uploaded_by_foreign` FOREIGN KEY (`uploaded_by`) REFERENCES `users` (`id`) ON DELETE SET NULL
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

LOCK TABLES `ict_request_ppnk_documents` WRITE;
/*!40000 ALTER TABLE `ict_request_ppnk_documents` DISABLE KEYS */;
/*!40000 ALTER TABLE `ict_request_ppnk_documents` ENABLE KEYS */;
UNLOCK TABLES;
DROP TABLE IF EXISTS `ict_request_quotations`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `ict_request_quotations` (
  `id` bigint unsigned NOT NULL AUTO_INCREMENT,
  `ict_request_id` bigint unsigned NOT NULL,
  `ict_request_item_id` bigint unsigned DEFAULT NULL,
  `line_number` int unsigned NOT NULL DEFAULT '1',
  `vendor_name` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `attachment_name` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `attachment_path` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `attachment_size` int unsigned DEFAULT NULL,
  `attachment_mime` varchar(100) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `ict_request_quotations_ict_request_item_id_foreign` (`ict_request_item_id`),
  KEY `ict_request_quotations_ict_request_id_ict_request_item_id_index` (`ict_request_id`,`ict_request_item_id`),
  CONSTRAINT `ict_request_quotations_ict_request_id_foreign` FOREIGN KEY (`ict_request_id`) REFERENCES `ict_requests` (`id`) ON DELETE CASCADE,
  CONSTRAINT `ict_request_quotations_ict_request_item_id_foreign` FOREIGN KEY (`ict_request_item_id`) REFERENCES `ict_request_items` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

LOCK TABLES `ict_request_quotations` WRITE;
/*!40000 ALTER TABLE `ict_request_quotations` DISABLE KEYS */;
/*!40000 ALTER TABLE `ict_request_quotations` ENABLE KEYS */;
UNLOCK TABLES;
DROP TABLE IF EXISTS `ict_request_review_histories`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `ict_request_review_histories` (
  `id` bigint unsigned NOT NULL AUTO_INCREMENT,
  `ict_request_id` bigint unsigned NOT NULL,
  `action` varchar(20) COLLATE utf8mb4_unicode_ci NOT NULL,
  `note` text COLLATE utf8mb4_unicode_ci,
  `attachment_name` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `attachment_path` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `attachment_size` bigint unsigned DEFAULT NULL,
  `attachment_mime` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `reviewed_by` bigint unsigned DEFAULT NULL,
  `reviewed_at` timestamp NULL DEFAULT NULL,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `ict_request_review_histories_ict_request_id_foreign` (`ict_request_id`),
  KEY `ict_request_review_histories_reviewed_by_foreign` (`reviewed_by`),
  CONSTRAINT `ict_request_review_histories_ict_request_id_foreign` FOREIGN KEY (`ict_request_id`) REFERENCES `ict_requests` (`id`) ON DELETE CASCADE,
  CONSTRAINT `ict_request_review_histories_reviewed_by_foreign` FOREIGN KEY (`reviewed_by`) REFERENCES `users` (`id`) ON DELETE SET NULL
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

LOCK TABLES `ict_request_review_histories` WRITE;
/*!40000 ALTER TABLE `ict_request_review_histories` DISABLE KEYS */;
/*!40000 ALTER TABLE `ict_request_review_histories` ENABLE KEYS */;
UNLOCK TABLES;
DROP TABLE IF EXISTS `ict_requests`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `ict_requests` (
  `id` bigint unsigned NOT NULL AUTO_INCREMENT,
  `unit_id` bigint unsigned NOT NULL,
  `requester_id` bigint unsigned NOT NULL,
  `form_number` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `revision_number` int unsigned NOT NULL DEFAULT '0',
  `print_count` int unsigned NOT NULL DEFAULT '0',
  `last_printed_at` timestamp NULL DEFAULT NULL,
  `subject` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL,
  `request_category` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL,
  `priority` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL DEFAULT 'normal',
  `status` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL DEFAULT 'drafted',
  `needed_at` date DEFAULT NULL,
  `quotation_mode` varchar(20) COLLATE utf8mb4_unicode_ci NOT NULL DEFAULT 'global',
  `is_pta_request` tinyint(1) NOT NULL DEFAULT '0',
  `justification` text COLLATE utf8mb4_unicode_ci NOT NULL,
  `additional_budget_reason` text COLLATE utf8mb4_unicode_ci,
  `staff_validated_by` bigint unsigned DEFAULT NULL,
  `staff_validated_at` timestamp NULL DEFAULT NULL,
  `asmen_checked_by` bigint unsigned DEFAULT NULL,
  `asmen_checked_at` timestamp NULL DEFAULT NULL,
  `pta_budget_not_listed_reason` text COLLATE utf8mb4_unicode_ci,
  `pta_additional_budget_reason` text COLLATE utf8mb4_unicode_ci,
  `drafted_by_name` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `drafted_by_title` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `acknowledged_by_name` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `acknowledged_by_title` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `approved_1_name` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `approved_1_title` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `approved_2_name` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `approved_2_title` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `approved_3_name` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `approved_3_title` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `approved_4_name` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `approved_4_title` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `manager_approved_by` bigint unsigned DEFAULT NULL,
  `ga_approved_by` bigint unsigned DEFAULT NULL,
  `ict_approved_by` bigint unsigned DEFAULT NULL,
  `manager_approved_at` timestamp NULL DEFAULT NULL,
  `final_signed_pdf_name` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `final_signed_pdf_path` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `final_signed_pdf_uploaded_by` bigint unsigned DEFAULT NULL,
  `final_signed_pdf_uploaded_at` timestamp NULL DEFAULT NULL,
  `rejected_reason` text COLLATE utf8mb4_unicode_ci,
  `rejected_by` bigint unsigned DEFAULT NULL,
  `rejected_at` timestamp NULL DEFAULT NULL,
  `revision_note` text COLLATE utf8mb4_unicode_ci,
  `revision_attachment_name` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `revision_attachment_path` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `revision_attachment_size` bigint unsigned DEFAULT NULL,
  `revision_attachment_mime` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `revision_requested_by` bigint unsigned DEFAULT NULL,
  `revision_requested_at` timestamp NULL DEFAULT NULL,
  `ga_approved_at` timestamp NULL DEFAULT NULL,
  `ict_approved_at` timestamp NULL DEFAULT NULL,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `ict_requests_form_number_unique` (`form_number`),
  KEY `ict_requests_manager_approved_by_foreign` (`manager_approved_by`),
  KEY `ict_requests_ga_approved_by_foreign` (`ga_approved_by`),
  KEY `ict_requests_ict_approved_by_foreign` (`ict_approved_by`),
  KEY `ict_requests_unit_id_status_index` (`unit_id`,`status`),
  KEY `ict_requests_requester_id_created_at_index` (`requester_id`,`created_at`),
  KEY `ict_requests_request_category_index` (`request_category`),
  KEY `ict_requests_priority_index` (`priority`),
  KEY `ict_requests_status_index` (`status`),
  KEY `ict_requests_staff_validated_by_foreign` (`staff_validated_by`),
  KEY `ict_requests_asmen_checked_by_foreign` (`asmen_checked_by`),
  KEY `ict_requests_final_signed_pdf_uploaded_by_foreign` (`final_signed_pdf_uploaded_by`),
  KEY `ict_requests_rejected_by_foreign` (`rejected_by`),
  KEY `ict_requests_revision_requested_by_foreign` (`revision_requested_by`),
  CONSTRAINT `ict_requests_asmen_checked_by_foreign` FOREIGN KEY (`asmen_checked_by`) REFERENCES `users` (`id`) ON DELETE SET NULL,
  CONSTRAINT `ict_requests_final_signed_pdf_uploaded_by_foreign` FOREIGN KEY (`final_signed_pdf_uploaded_by`) REFERENCES `users` (`id`) ON DELETE SET NULL,
  CONSTRAINT `ict_requests_ga_approved_by_foreign` FOREIGN KEY (`ga_approved_by`) REFERENCES `users` (`id`) ON DELETE SET NULL,
  CONSTRAINT `ict_requests_ict_approved_by_foreign` FOREIGN KEY (`ict_approved_by`) REFERENCES `users` (`id`) ON DELETE SET NULL,
  CONSTRAINT `ict_requests_manager_approved_by_foreign` FOREIGN KEY (`manager_approved_by`) REFERENCES `users` (`id`) ON DELETE SET NULL,
  CONSTRAINT `ict_requests_rejected_by_foreign` FOREIGN KEY (`rejected_by`) REFERENCES `users` (`id`) ON DELETE SET NULL,
  CONSTRAINT `ict_requests_requester_id_foreign` FOREIGN KEY (`requester_id`) REFERENCES `users` (`id`) ON DELETE CASCADE,
  CONSTRAINT `ict_requests_revision_requested_by_foreign` FOREIGN KEY (`revision_requested_by`) REFERENCES `users` (`id`) ON DELETE SET NULL,
  CONSTRAINT `ict_requests_staff_validated_by_foreign` FOREIGN KEY (`staff_validated_by`) REFERENCES `users` (`id`) ON DELETE SET NULL,
  CONSTRAINT `ict_requests_unit_id_foreign` FOREIGN KEY (`unit_id`) REFERENCES `units` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

LOCK TABLES `ict_requests` WRITE;
/*!40000 ALTER TABLE `ict_requests` DISABLE KEYS */;
/*!40000 ALTER TABLE `ict_requests` ENABLE KEYS */;
UNLOCK TABLES;
DROP TABLE IF EXISTS `incident_reports`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `incident_reports` (
  `id` bigint unsigned NOT NULL AUTO_INCREMENT,
  `unit_id` bigint unsigned NOT NULL,
  `reported_by_id` bigint unsigned NOT NULL,
  `asset_id` bigint unsigned DEFAULT NULL,
  `repair_request_id` bigint unsigned DEFAULT NULL,
  `incident_type` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL,
  `title` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL,
  `description` text COLLATE utf8mb4_unicode_ci NOT NULL,
  `follow_up` text COLLATE utf8mb4_unicode_ci,
  `repairable` tinyint(1) DEFAULT NULL,
  `status` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL DEFAULT 'open',
  `occurred_at` timestamp NOT NULL,
  `known_by_manager_id` bigint unsigned DEFAULT NULL,
  `known_by_ict_head_id` bigint unsigned DEFAULT NULL,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `incident_reports_reported_by_id_foreign` (`reported_by_id`),
  KEY `incident_reports_asset_id_foreign` (`asset_id`),
  KEY `incident_reports_repair_request_id_foreign` (`repair_request_id`),
  KEY `incident_reports_known_by_manager_id_foreign` (`known_by_manager_id`),
  KEY `incident_reports_known_by_ict_head_id_foreign` (`known_by_ict_head_id`),
  KEY `incident_reports_unit_id_status_index` (`unit_id`,`status`),
  KEY `incident_reports_incident_type_index` (`incident_type`),
  KEY `incident_reports_status_index` (`status`),
  CONSTRAINT `incident_reports_asset_id_foreign` FOREIGN KEY (`asset_id`) REFERENCES `assets` (`id`) ON DELETE SET NULL,
  CONSTRAINT `incident_reports_known_by_ict_head_id_foreign` FOREIGN KEY (`known_by_ict_head_id`) REFERENCES `users` (`id`) ON DELETE SET NULL,
  CONSTRAINT `incident_reports_known_by_manager_id_foreign` FOREIGN KEY (`known_by_manager_id`) REFERENCES `users` (`id`) ON DELETE SET NULL,
  CONSTRAINT `incident_reports_repair_request_id_foreign` FOREIGN KEY (`repair_request_id`) REFERENCES `repair_requests` (`id`) ON DELETE SET NULL,
  CONSTRAINT `incident_reports_reported_by_id_foreign` FOREIGN KEY (`reported_by_id`) REFERENCES `users` (`id`) ON DELETE CASCADE,
  CONSTRAINT `incident_reports_unit_id_foreign` FOREIGN KEY (`unit_id`) REFERENCES `units` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

LOCK TABLES `incident_reports` WRITE;
/*!40000 ALTER TABLE `incident_reports` DISABLE KEYS */;
/*!40000 ALTER TABLE `incident_reports` ENABLE KEYS */;
UNLOCK TABLES;
DROP TABLE IF EXISTS `inventory_items`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `inventory_items` (
  `id` bigint unsigned NOT NULL AUTO_INCREMENT,
  `unit_id` bigint unsigned DEFAULT NULL,
  `scope` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL DEFAULT 'unit',
  `code` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL,
  `name` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL,
  `category` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL,
  `specification` json DEFAULT NULL,
  `quantity_on_hand` int unsigned NOT NULL DEFAULT '0',
  `minimum_quantity` int unsigned NOT NULL DEFAULT '0',
  `location` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `is_active` tinyint(1) NOT NULL DEFAULT '1',
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `inventory_items_code_unique` (`code`),
  KEY `inventory_items_unit_id_category_index` (`unit_id`,`category`),
  KEY `inventory_items_scope_index` (`scope`),
  KEY `inventory_items_category_index` (`category`),
  KEY `inventory_items_is_active_index` (`is_active`),
  CONSTRAINT `inventory_items_unit_id_foreign` FOREIGN KEY (`unit_id`) REFERENCES `units` (`id`) ON DELETE SET NULL
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

LOCK TABLES `inventory_items` WRITE;
/*!40000 ALTER TABLE `inventory_items` DISABLE KEYS */;
/*!40000 ALTER TABLE `inventory_items` ENABLE KEYS */;
UNLOCK TABLES;
DROP TABLE IF EXISTS `job_batches`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `job_batches` (
  `id` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL,
  `name` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL,
  `total_jobs` int NOT NULL,
  `pending_jobs` int NOT NULL,
  `failed_jobs` int NOT NULL,
  `failed_job_ids` longtext COLLATE utf8mb4_unicode_ci NOT NULL,
  `options` mediumtext COLLATE utf8mb4_unicode_ci,
  `cancelled_at` int DEFAULT NULL,
  `created_at` int NOT NULL,
  `finished_at` int DEFAULT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

LOCK TABLES `job_batches` WRITE;
/*!40000 ALTER TABLE `job_batches` DISABLE KEYS */;
/*!40000 ALTER TABLE `job_batches` ENABLE KEYS */;
UNLOCK TABLES;
DROP TABLE IF EXISTS `jobs`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `jobs` (
  `id` bigint unsigned NOT NULL AUTO_INCREMENT,
  `queue` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL,
  `payload` longtext COLLATE utf8mb4_unicode_ci NOT NULL,
  `attempts` tinyint unsigned NOT NULL,
  `reserved_at` int unsigned DEFAULT NULL,
  `available_at` int unsigned NOT NULL,
  `created_at` int unsigned NOT NULL,
  PRIMARY KEY (`id`),
  KEY `jobs_queue_index` (`queue`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

LOCK TABLES `jobs` WRITE;
/*!40000 ALTER TABLE `jobs` DISABLE KEYS */;
/*!40000 ALTER TABLE `jobs` ENABLE KEYS */;
UNLOCK TABLES;
DROP TABLE IF EXISTS `migrations`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `migrations` (
  `id` int unsigned NOT NULL AUTO_INCREMENT,
  `migration` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL,
  `batch` int NOT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=35 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

LOCK TABLES `migrations` WRITE;
/*!40000 ALTER TABLE `migrations` DISABLE KEYS */;
/*!40000 ALTER TABLE `migrations` ENABLE KEYS */;
UNLOCK TABLES;
DROP TABLE IF EXISTS `password_reset_tokens`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `password_reset_tokens` (
  `email` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL,
  `token` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL,
  `created_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`email`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

LOCK TABLES `password_reset_tokens` WRITE;
/*!40000 ALTER TABLE `password_reset_tokens` DISABLE KEYS */;
/*!40000 ALTER TABLE `password_reset_tokens` ENABLE KEYS */;
UNLOCK TABLES;
DROP TABLE IF EXISTS `project_requests`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `project_requests` (
  `id` bigint unsigned NOT NULL AUTO_INCREMENT,
  `unit_id` bigint unsigned NOT NULL,
  `requester_id` bigint unsigned NOT NULL,
  `title` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL,
  `background` text COLLATE utf8mb4_unicode_ci NOT NULL,
  `scope` text COLLATE utf8mb4_unicode_ci NOT NULL,
  `expected_outcome` text COLLATE utf8mb4_unicode_ci NOT NULL,
  `priority` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL DEFAULT 'normal',
  `status` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL DEFAULT 'submitted',
  `target_date` date DEFAULT NULL,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `project_requests_requester_id_foreign` (`requester_id`),
  KEY `project_requests_unit_id_status_index` (`unit_id`,`status`),
  KEY `project_requests_priority_index` (`priority`),
  KEY `project_requests_status_index` (`status`),
  CONSTRAINT `project_requests_requester_id_foreign` FOREIGN KEY (`requester_id`) REFERENCES `users` (`id`) ON DELETE CASCADE,
  CONSTRAINT `project_requests_unit_id_foreign` FOREIGN KEY (`unit_id`) REFERENCES `units` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

LOCK TABLES `project_requests` WRITE;
/*!40000 ALTER TABLE `project_requests` DISABLE KEYS */;
/*!40000 ALTER TABLE `project_requests` ENABLE KEYS */;
UNLOCK TABLES;
DROP TABLE IF EXISTS `repair_requests`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `repair_requests` (
  `id` bigint unsigned NOT NULL AUTO_INCREMENT,
  `unit_id` bigint unsigned NOT NULL,
  `requester_id` bigint unsigned NOT NULL,
  `asset_id` bigint unsigned DEFAULT NULL,
  `form_number` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `problem_type` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL,
  `problem_summary` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL,
  `troubleshooting_note` text COLLATE utf8mb4_unicode_ci,
  `status` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL DEFAULT 'submitted',
  `priority` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL DEFAULT 'normal',
  `assigned_to` bigint unsigned DEFAULT NULL,
  `resolved_at` timestamp NULL DEFAULT NULL,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `repair_requests_form_number_unique` (`form_number`),
  KEY `repair_requests_requester_id_foreign` (`requester_id`),
  KEY `repair_requests_asset_id_foreign` (`asset_id`),
  KEY `repair_requests_assigned_to_foreign` (`assigned_to`),
  KEY `repair_requests_unit_id_status_index` (`unit_id`,`status`),
  KEY `repair_requests_problem_type_index` (`problem_type`),
  KEY `repair_requests_status_index` (`status`),
  KEY `repair_requests_priority_index` (`priority`),
  CONSTRAINT `repair_requests_asset_id_foreign` FOREIGN KEY (`asset_id`) REFERENCES `assets` (`id`) ON DELETE SET NULL,
  CONSTRAINT `repair_requests_assigned_to_foreign` FOREIGN KEY (`assigned_to`) REFERENCES `users` (`id`) ON DELETE SET NULL,
  CONSTRAINT `repair_requests_requester_id_foreign` FOREIGN KEY (`requester_id`) REFERENCES `users` (`id`) ON DELETE CASCADE,
  CONSTRAINT `repair_requests_unit_id_foreign` FOREIGN KEY (`unit_id`) REFERENCES `units` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

LOCK TABLES `repair_requests` WRITE;
/*!40000 ALTER TABLE `repair_requests` DISABLE KEYS */;
/*!40000 ALTER TABLE `repair_requests` ENABLE KEYS */;
UNLOCK TABLES;
DROP TABLE IF EXISTS `sessions`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `sessions` (
  `id` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL,
  `user_id` bigint unsigned DEFAULT NULL,
  `ip_address` varchar(45) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `user_agent` text COLLATE utf8mb4_unicode_ci,
  `payload` longtext COLLATE utf8mb4_unicode_ci NOT NULL,
  `last_activity` int NOT NULL,
  PRIMARY KEY (`id`),
  KEY `sessions_user_id_index` (`user_id`),
  KEY `sessions_last_activity_index` (`last_activity`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

LOCK TABLES `sessions` WRITE;
/*!40000 ALTER TABLE `sessions` DISABLE KEYS */;
INSERT INTO `sessions` VALUES ('4rpS6tRE7yXHomYxgIHaKIAKpW9W8nxlqHft2O4K',NULL,'::1','Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/147.0.0.0 Safari/537.36','eyJfdG9rZW4iOiIySkJWNjVTRVlIODVMUUJSbnh3WVM4c2NnNVg0MkE4SGtwSE1OaXQ1IiwiX2ZsYXNoIjp7Im9sZCI6W10sIm5ldyI6W119fQ==',1776309187);
/*!40000 ALTER TABLE `sessions` ENABLE KEYS */;
UNLOCK TABLES;
DROP TABLE IF EXISTS `units`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `units` (
  `id` bigint unsigned NOT NULL AUTO_INCREMENT,
  `code` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL,
  `name` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL,
  `type` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL DEFAULT 'unit',
  `is_head_office` tinyint(1) NOT NULL DEFAULT '0',
  `is_active` tinyint(1) NOT NULL DEFAULT '1',
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `units_code_unique` (`code`),
  KEY `units_type_index` (`type`),
  KEY `units_is_active_index` (`is_active`)
) ENGINE=InnoDB AUTO_INCREMENT=3 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

LOCK TABLES `units` WRITE;
/*!40000 ALTER TABLE `units` DISABLE KEYS */;
INSERT INTO `units` VALUES (1,'EAS-HO','EAS Head Office','eas',1,1,'2026-04-15 19:10:22','2026-04-15 19:10:22'),(2,'UNIT-01','Unit Contoh','unit',0,1,'2026-04-15 19:10:22','2026-04-15 19:10:22');
/*!40000 ALTER TABLE `units` ENABLE KEYS */;
UNLOCK TABLES;
DROP TABLE IF EXISTS `users`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `users` (
  `id` bigint unsigned NOT NULL AUTO_INCREMENT,
  `unit_id` bigint unsigned DEFAULT NULL,
  `employee_id` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `name` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL,
  `email` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL,
  `email_verified_at` timestamp NULL DEFAULT NULL,
  `password` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL,
  `role` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL DEFAULT 'admin_ict',
  `job_title` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `phone` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `is_active` tinyint(1) NOT NULL DEFAULT '1',
  `remember_token` varchar(100) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `users_email_unique` (`email`),
  KEY `users_employee_id_index` (`employee_id`),
  KEY `users_role_index` (`role`),
  KEY `users_is_active_index` (`is_active`),
  KEY `users_unit_id_foreign` (`unit_id`),
  CONSTRAINT `users_unit_id_foreign` FOREIGN KEY (`unit_id`) REFERENCES `units` (`id`) ON DELETE SET NULL
) ENGINE=InnoDB AUTO_INCREMENT=6 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

LOCK TABLES `users` WRITE;
/*!40000 ALTER TABLE `users` DISABLE KEYS */;
/*!40000 ALTER TABLE `users` ENABLE KEYS */;
UNLOCK TABLES;
SET @@SESSION.SQL_LOG_BIN = @MYSQLDUMP_TEMP_LOG_BIN;
/*!40103 SET TIME_ZONE=@OLD_TIME_ZONE */;

/*!40101 SET SQL_MODE=@OLD_SQL_MODE */;
/*!40014 SET FOREIGN_KEY_CHECKS=@OLD_FOREIGN_KEY_CHECKS */;
/*!40014 SET UNIQUE_CHECKS=@OLD_UNIQUE_CHECKS */;
/*!40101 SET CHARACTER_SET_CLIENT=@OLD_CHARACTER_SET_CLIENT */;
/*!40101 SET CHARACTER_SET_RESULTS=@OLD_CHARACTER_SET_RESULTS */;
/*!40101 SET COLLATION_CONNECTION=@OLD_COLLATION_CONNECTION */;
/*!40111 SET SQL_NOTES=@OLD_SQL_NOTES */;

